## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Data.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Hobart,AU,-42.8794,147.3294,280.99,81,75,1.34,Clouds
1,1,Albany,US,42.6001,-73.9662,298.47,57,45,2.72,Clouds
2,2,Kapaa,US,22.0752,-159.3190,301.33,77,90,1.79,Rain
3,3,Ushuaia,AR,-54.8000,-68.3000,275.96,81,40,4.12,Clouds
4,4,Inuvik,CA,68.3499,-133.7218,291.63,72,20,3.09,Clouds

In [3]:
city_data_df["Max Temp"].describe()

count    1858.000000
mean      291.128369
std         8.614326
min       272.550000
25%       282.770000
50%       292.250000
75%       298.470000
max       313.880000
Name: Max Temp, dtype: float64

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp=float(input("Please enter the min temp that you'd like (between 273 & 314)"))
max_temp=float(input("Please enter the max temp that you'd like (between 273 & 314)"))

Please enter the min temp that you'd like (between 273 & 314)300
Please enter the max temp that you'd like (between 273 & 314)320

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
prefered_cities=city_data_df.loc[(city_data_df["Max Temp"]>min_temp) & (city_data_df["Max Temp"]<max_temp)]
prefered_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
2,2,Kapaa,US,22.0752,-159.3190,301.33,77,90,1.79,Rain
6,6,Kapaa,US,22.0752,-159.3190,301.33,77,90,1.79,Rain
11,11,Lompoc,US,34.6391,-120.4579,306.87,63,57,6.17,Clouds
32,32,Mashhad,IR,36.2970,59.6062,300.23,34,0,3.09,Clear
41,41,Jati,PK,24.3539,68.2671,302.18,75,99,5.40,Clouds

In [6]:
# 4a. Determine if there are any empty rows.
prefered_cities.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 290 entries, 2 to 1852
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              290 non-null    int64
 1   City                 290 non-null    object
 2   Country              290 non-null    object
 3   Lat                  290 non-null    float64
 4   Lng                  290 non-null    float64
 5   Max Temp             290 non-null    float64
 6   Humidity             290 non-null    int64
 7   Cloudiness           290 non-null    int64
 8   Wind Speed           290 non-null    float64
 9   Weather Description  290 non-null    object
dtypes: float64(4), int64(3), object(3)
memory usage: 24.9+ KB

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = prefered_cities[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
2,Kapaa,US,301.33,Rain,22.0752,-159.3190,
6,Kapaa,US,301.33,Rain,22.0752,-159.3190,
11,Lompoc,US,306.87,Clouds,34.6391,-120.4579,
32,Mashhad,IR,300.23,Clear,36.2970,59.6062,
41,Jati,PK,302.18,Clouds,24.3539,68.2671,
42,Georgetown,MY,300.87,Clouds,5.4112,100.3354,
52,Hilo,US,306.08,Rain,19.7297,-155.0900,
61,Bethel,US,300.32,Clear,41.3712,-73.4140,
71,Saint Anthony,US,306.23,Clear,45.0205,-93.2180,
73,Bethel,US,300.32,Clear,41.3712,-73.4140,

In [ ]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, city in hotel_df.iterrows()

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

In [ ]:
# 7. Drop the rows where there is no Hotel Name.

In [ ]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [ ]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure