## Deliverable 2. Create a Customer Travel Destinations Map.

In [54]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key


# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Data.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Sao Filipe,CV,14.8961,-24.4956,296.62,74,82,3.72,broken clouds
1,1,Norman Wells,CA,65.2820,-126.8329,288.88,56,45,3.44,scattered clouds
2,2,Carnarvon,AU,-24.8667,113.6333,292.25,67,100,5.69,overcast clouds
3,3,Rikitea,PF,-23.1203,-134.9692,293.54,55,0,1.33,clear sky
4,4,Bambous Virieux,MU,-20.3428,57.7575,293.27,72,50,4.46,scattered clouds

In [3]:
city_data_df["Max Temp"].describe()

count    1856.000000
mean      291.466525
std         9.165299
min       274.210000
25%       284.710000
50%       293.320000
75%       298.640000
max       318.390000
Name: Max Temp, dtype: float64

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp=float(input("Please enter the min temp that you'd like (between 273 & 314 Kelvin)"))
max_temp=float(input("Please enter the max temp that you'd like (between 273 & 314 Kelvin)"))

Please enter the min temp that you'd like (between 273 & 314)300
Please enter the max temp that you'd like (between 273 & 314)310

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
prefered_cities=city_data_df.loc[(city_data_df["Max Temp"]>min_temp) & (city_data_df["Max Temp"]<max_temp)]
prefered_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
15,15,Atasu,KZ,48.6814,71.6433,302.89,22,45,0.86,scattered clouds
25,25,Salamiyah,SY,35.0113,37.0532,302.63,45,11,8.15,few clouds
26,26,Camapua,BR,-19.5314,-54.0439,306.02,20,0,3.62,clear sky
27,27,Lazaro Cardenas,MX,17.9583,-102.2000,301.82,74,81,0.18,broken clouds
40,40,Jaisalmer,IN,26.9147,70.9181,309.88,39,20,1.78,few clouds

In [6]:
# 4a. Determine if there are any empty rows.
prefered_cities.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 295 entries, 15 to 1854
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              295 non-null    int64
 1   City                 295 non-null    object
 2   Country              295 non-null    object
 3   Lat                  295 non-null    float64
 4   Lng                  295 non-null    float64
 5   Max Temp             295 non-null    float64
 6   Humidity             295 non-null    int64
 7   Cloudiness           295 non-null    int64
 8   Wind Speed           295 non-null    float64
 9   Weather Description  295 non-null    object
dtypes: float64(4), int64(3), object(3)
memory usage: 25.4+ KB

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = prefered_cities[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
15,Atasu,KZ,302.89,scattered clouds,48.6814,71.6433,
25,Salamiyah,SY,302.63,few clouds,35.0113,37.0532,
26,Camapua,BR,306.02,clear sky,-19.5314,-54.0439,
27,Lazaro Cardenas,MX,301.82,broken clouds,17.9583,-102.2000,
40,Jaisalmer,IN,309.88,few clouds,26.9147,70.9181,
43,Bucerias,MX,301.47,overcast clouds,20.7500,-105.3333,
48,Dillon,US,304.37,clear sky,34.4166,-79.3712,
57,Georgetown,MY,303.09,few clouds,5.4112,100.3354,
63,Dobrinje,BA,303.56,clear sky,44.0497,18.1194,
64,Pine Bluff,US,305.90,clear sky,34.2284,-92.0032,

In [41]:
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    "location": "48.6814,71.6433"
}
base_url= "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
hotels=requests.get(base_url, params=params).json()
print(hotels)

{'html_attributions': [], 'results': [{'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 48.6885092, 'lng': 71.68794919999999}, 'viewport': {'northeast': {'lat': 48.6896465302915, 'lng': 71.6894783802915}, 'southwest': {'lat': 48.6869485697085, 'lng': 71.6867804197085}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'name': 'Dostyk', 'photos': [{'height': 2560, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/109511959471552281492">Samat Khamimoldin</a>'], 'photo_reference': 'Aap_uECEiFTvn2ZNuZ44jsWEoEiZVVp-6Tj69bDlSUtT6a5VIqEJbceVJttqlVpvaaHDL8yGy6l2J2uoboZdQ6DJDAvlcAraEEMRgVQ7_QI4-xg3JEgv760Evz_B2vuFnoY__gKU1uJj76-mtJe_XfZCNvNzG2MMt1cfx5Il2gU7Hpl5krDl', 'width': 1920}], 'place_id': 'ChIJ8U65mhbdQUIRpWuXjjbWzZM', 'plus_code': {'compound_code': 'MMQQ+C5 Atasu, Kazakhstan', 'global_code': '8JWHMMQQ+C5'}, 'rating': 4, 'reference': 'ChIJ8U65mhbdQUIRpWuXjjbWzZM', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'user_ratings_total': 64, 'vicinity': 'Atasu'}], 'status': 'OK'}

In [37]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat=row["Lat"]
    lng=row["Lng"]
    params["location"]= f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.  
    base_url= "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels=requests.get(base_url, params=params).json()
#     print(hotels)
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index,"Hotel Name"]=hotels["results"][0]["name"]
        
    except (IndexError):
           print("Hotels not found, skipping")

hotel_df.head()

Hotels not found, skipping
Hotels not found, skipping
Hotels not found, skipping
Hotels not found, skipping
Hotels not found, skipping
Hotels not found, skipping
Hotels not found, skipping
Hotels not found, skipping
Hotels not found, skipping
Hotels not found, skipping
Hotels not found, skipping
Hotels not found, skipping
Hotels not found, skipping
Hotels not found, skipping
Hotels not found, skipping
Hotels not found, skipping

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
15,Atasu,KZ,302.89,scattered clouds,48.6814,71.6433,Dostyk
25,Salamiyah,SY,302.63,few clouds,35.0113,37.0532,Gondolas Forum grandchildren and grandparents
26,Camapua,BR,306.02,clear sky,-19.5314,-54.0439,Comercial Estrela
27,Lazaro Cardenas,MX,301.82,broken clouds,17.9583,-102.2000,quinta antigua
40,Jaisalmer,IN,309.88,few clouds,26.9147,70.9181,Hotel Fifu

In [42]:
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
15,Atasu,KZ,302.89,scattered clouds,48.6814,71.6433,Dostyk
25,Salamiyah,SY,302.63,few clouds,35.0113,37.0532,Gondolas Forum grandchildren and grandparents
26,Camapua,BR,306.02,clear sky,-19.5314,-54.0439,Comercial Estrela
27,Lazaro Cardenas,MX,301.82,broken clouds,17.9583,-102.2000,quinta antigua
40,Jaisalmer,IN,309.88,few clouds,26.9147,70.9181,Hotel Fifu
43,Bucerias,MX,301.47,overcast clouds,20.7500,-105.3333,Villa del Palmar Flamingos Beach Resort & Spa ...
48,Dillon,US,304.37,clear sky,34.4166,-79.3712,Dillon Express Inn
57,Georgetown,MY,303.09,few clouds,5.4112,100.3354,Cititel Penang
63,Dobrinje,BA,303.56,clear sky,44.0497,18.1194,Pansion Mušinbegović
64,Pine Bluff,US,305.90,clear sky,34.2284,-92.0032,Holiday Inn Express & Suites Pine Bluff/Pines ...

In [40]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.isnull().sum()

City                   0
Country                0
Max Temp               0
Weather Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [59]:
# 8a. Create the output File (CSV)
output_data_file="./WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [57]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather description</dt><dd>{Weather Description}</dd>
<dt>Temperature</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [58]:
# 11a. Add a marker layer for each city to the map. 
locations
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))